<h1 class='top-middle'>Burgers!</h1>



<div class="grid-container">
<div class= "grid-item left">
<h2 class='lefttoo'>Burgers that are waiting to be eaten!</h2>

<ul class='lefttoo'>
  {{#each burgers}}
  {{#unless consumed}}
  {{> burgers/burger-block consumed=true}}
  {{/unless}}
  {{/each}}
</ul>
</div>

<div class="grid-item middle">
  
<h2>Add a Burger</h2>
<form id="create-form">

  <div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" id="bur" name="name">
  </div>

  <div class="form-group">
    {{!-- <label for="consumed">Consumed?</label><br> --}}
    <input type="radio" name="consumed" value="1" id="consumed" checked> Consumed!<br>
    <input type="radio" name="consumed" value="0" id="UnConsumed"> Waiting to be eaten!
  </div>

  <button type="submit">Add Burger</button>
</form></div>


<div class="grid-item right">
<h2 class='righttoo'>Burgers that have been EATEN!</h2>

<ul class='righttoo'>
  {{#each burgers}}
  {{#if consumed}}
  {{> burgers/burger-block consumed=false}}
  {{/if}}
  {{/each}}
</ul></div>
</div>

